<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/update/{username}(username=${user.username})}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{username}" />
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" />
    </div>

    <div>

            <label for="roles">Roles:</label>
            <select id="roles" multiple>
                <option value="USER" th:selected="${#lists.contains(user.roles, 'USER')}">User</option>
                <option value="ADMIN" th:selected="${#lists.contains(user.roles, 'ADMIN')}">Admin</option>
                <option value="MANAGER" th:selected="${#lists.contains(user.roles, 'MANAGER')}">Manager</option>
                <option value="COORDINATOR" th:selected="${#lists.contains(user.roles, 'COORDINATOR')}">Coordinator</option>
            </select>
            <input type="hidden" id="rolesHidden" th:field="*{roles}" required>

    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
<a href="/users">Back to Users List</a>
<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        var selectedRoles = Array.from(document.getElementById('roles').selectedOptions)
            .map(option => option.value);
        document.getElementById('rolesHidden').value = selectedRoles.join(',');
    });
</script>
</body>
</html>